*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 100%, 74%);
    background-image:url(images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    color: white;
    /*margin-left:100px;*/
    padding:8%;
    
}
.container{
    display: flex;
}



h1{
    font-size:25px;
}
p{
    font-size:smaller;
    opacity: 0.7;
}
.try{
    border: 1px solid hsl(248, 32%, 49%);
    background-color: hsl(248, 32%, 49%);
    width: 50%;
    font-size: smaller;
    height: 57px;
    border-radius: 7px;
    padding: 13px;
    margin-bottom: 15px;
    text-align: center;
    
}
.leftText{
   margin-top: 100px;
}
.rightRegform{
    margin-left: 100px;
}
.regform{
    background-color:white;
    padding: 16px;
    width:50%;
    height: 410px;
    border-radius: 7px;
}
input[type=text]{
    width: 100%;
    height:50px;
    padding: 20px;
    margin: 5px 0 15px 0;
    border: 1px solid;
    border-radius: 4px;
}
input[type=Last]{
    width: 100%;
    height:50px;
    padding: 20px;
    margin: 5px 0 15px 0;
    border: 1px solid;
    border-radius: 4px;
}
input[type=email]{
    width: 100%;
    height:50px;
    padding: 20px;
    margin: 5px 0 15px 0;
    border: 1px solid;
    border-radius: 4px; 
}
input[type=Password]{
    width: 100%;
    height:50px;
    padding: 20px;
    margin: 5px 0 15px 0;
    border: 1px solid;
    border-radius: 4px; 
}
.registerbtn{
    background-color: hsl(154, 59%, 51%);  
    color: white;
    width: 100%;
    height:50px;
    padding: 20px;
    margin: 5px 0 15px 0;
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 4px; 
}
#terms{
    color: black;
    font-size: 10px;
    text-align: center;
    opacity: 0.5;
}
span{
    color: hsl(12, 89%, 47%);
    font-weight: bolder;
}
/* Media Query for Mobile Devices*/
 @media(max-width: 480px) {
    body {
        padding:0;
    }
     h1{
        font-size: 32px;
     }
     p{
        font-size: 100%;
     }
     .leftText{
        margin: 10%;
     }
     .rightRegform{
        margin: 10%;
     }
     .regform{
        height: 100%;
        width: 100%
     }
    .try{
        width:100%;
        height: 20%;
        padding: 30px;
    }
    .registerbtn{
        height: 100%;
    }
    .container{
        flex-wrap: wrap;
    }

}
 /* Media Query for low resolution  Tablets, Ipads */
 @media (min-width: 481px) and (max-width: 767px) {
    body{
        padding: 3%;
    }
    .rightRegform{
        height: 100%;
    }
    .regform{
        width: 100%;
        margin-right: 200px;
    }
    .try{
        width: 100%;
    }
    h1{
        font-size: 30px;
        margin-top: -40px;
    }
    p{
        font-size: 12px;
        opacity: 0.8;
    }
    .container div{
        margin-right: -100px;
    }
    #terms{
        width: 100%;
    }
}
 /* Media Query for Tablets Ipads portrait mode*/
@media (min-width: 768px) and (max-width: 1024px){
    body{
        padding:3% ;
    }
    .rightRegform{
        margin-top: 150px;
    }
    .regform{
        width: 100%;
        margin-right:185px ;
    }
    .try{
        width: 100%;
    }
    h1{
        font-size: 30px;
        margin-top: 130px;
        margin-left: 50px;
    }
    p{
        font-size:larger;
        margin-left: 50px;
    }
    
}
/* Media Query for Laptops and Desktops*/
@media (min-width: 1025px) and (max-width: 1281px){
    .regform{
        width: 100%;
    }
    .try{
        width: 100%;
    }
    h1{
        font-size: 50px;
    }
    p{
        font-size: larger;
    }
}
 /* Media Query for Large screens*/
 @media (min-width: 1281px) {
    .try{
        width: 100%;
    }
    .regform{
        width: 100%;
    }
    h1{
        font-size: 50px;
    }
    p{
        font-size: larger;
    }
}
